body{
    background-color: #1fc8db !important; 
    /* For browsers that do not support gradients */        
    background: linear-gradient(140deg, #88f3ac 15%, #1fc8db 60%) no-repeat!important; 
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}


#container{
    margin:0px auto !important;
    margin-top:15% !important;
}



.card{
    display:inline-block !important;
    text-align: center;
    width:18% !important;
    margin-left:5% !important;
    height:200px;
    padding:1%;
    vertical-align: top;
    border:1px navy solid !important;
    box-shadow: 1px 2px gray;
}


@media only screen and (max-width: 900px){
    .card{
        display:inline-block !important;
        width:45% !important;
        margin-left:4% !important;
    }
}

@media only screen and (max-width : 600px){
    .card{
        width:100% !important;
        margin-left:0 !important;
    }
}