
.card{
    border:1px groove gray !important;
    display: inline-block !important;
    box-shadow: 1px 1px black !important;
    width:19%;
    vertical-align: top;
}
a{
    display: block !important;
}


.card-img-top{
    height:150px;
}

#createproduct{
    display: inline-block;
    width:20% !important;
    border:2px solid blue !important;
}
span,label,input,textarea{
    display: block;
    resize: none !important;
}

#products{
    border:2px solid red !important;
    vertical-align: top;
    display: inline-block;
    margin-left:2% !important;
    width:75%;
}
h1{
    text-align: center;
}