.card{
    display:inline-block !important;
    text-align: center;
    width:18% !important;
    margin-left:5% !important;
    vertical-align: top;
    border:1px navy solid !important;
    box-shadow: 1px 2px gray;
}

.card-img-top{
    width:286px;
    height:180px;
}

#container{
    margin:0px auto !important;
}

p{
    text-align: center;
}